.stats {
    background-color: rgba(252, 249, 255, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 205px 70px;
  }
  
  @media (max-width: 991px) {
    .stats {
      padding: 100px 20px;
    }
  }
  
  .container {
    width: 100%;
    max-width: 1165px;
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
    }
  }
  
  .row {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .row {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  